/* timeline.css */

.animate-dash {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 4s linear infinite alternate;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  