.testimonial {
    background-image: url('../assets/Testimonial-BG.png'); /* replace this */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  