* {
  padding: 0;
  margin: 0;
  background-image:url('./assets/IMG_0736.PNG');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* TipTap Basic Styles */
.ProseMirror {
  min-height: 150px;
  outline: none;
}
